{% extends 'Back/base.html.twig' %}

{% block title %} Liste des catégories {% endblock %}

{% block body %}
    <h1 class="display-4 text-center mt-5 text-uppercase" >
        Liste des catégories
    </h1>
    <div class="container mt-5">
        <a href="{{ path('admin_category_add') }}" class="btn btn-success mb-3"><i class="fas fa-plus"></i> Ajouter une catégorie</a>
        <table class="table table-bordered table-hover ">
            <thead>
            <tr>
                <th>Titre de la catégorie</th>
                <th>Description</th>
                <th>URL de l'image</th>
                <th>Crée par</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for c in categories %}
                <tr>
                    <td>
                        {{ c.title }}
                    </td>
                    <td>
                        {{ c.description | slice(0,200) }}...
                    </td>
                    <td>
                        {{ c.picture }}
                    </td>
                    <td>
                        {{ c.createdBy.fullname }}
                    </td>
                    <td>
                        {{ c.createdAt | date('d/m/y h:i:s') }}
                    </td>
                    <td class="d-flex justify-content-around">
                        <a href="{{ path('admin_category_id', {'id' : c.id}) }}" class="btn btn-primary">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a href="{{ path('admin_category_edit_id', {'id' : c.id}) }}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#delete{{ c.id }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% include 'back/_partials/modal/deleteCategory.html.twig' %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
